<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     sec:authorize="isAuthenticated()">
    <div>
        <a th:href="@{/}">Home Page</a> |
        <a th:href="@{|/todos/all/users/${#authentication.details.id}|}">My To-Dos</a>
        <span sec:authorize="hasAuthority('ADMIN')">
           | <a th:href="@{/users/all}">List of Users</a>
        </span>
    </div>
    <div style="position: absolute; top: 10px; right: 20px;">
        <span>
            Hello <a th:href="@{|/users/${#authentication.details.id}/read|}" th:text="${#authentication.details.firstName}"></a>!
        </span> |
        <form th:action="@{/logout}" method="post" style="display: inline-block">
            <input type="submit" value="LogOut">
        </form>
    </div>
</div>
