<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/template}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
</head>
<body>
    <div layout:fragment="content">
        <br>
        <h1 style="margin: 0 auto; width: max-content">403 / Access Denied</h1>
        <h2 style="margin: 0 auto; width: max-content" th:text="${error}"></h2>
        <br>
    </div>
</body>
</html>
