<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/template}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new To-Do</title>
</head>
<body>
    <div layout:fragment="content" style="margin: 0 auto; width: max-content">
        <h2>Create new To-Do</h2>
        <form th:object="${todo}" method="post">
            <table>
                <tr>
                    <td>
                        <label for="title">Title:</label>
                    </td>
                    <td>
                        <input type="text" th:field="*{title}" id="title" />
                    </td>
                    <td>
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Create" />
                        <input type="reset" value="Clear" />
                    </td>
                </tr>
            </table>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
        <br>
        <a th:href="@{|/todos/all/users/${ownerId}|}">Go to To-Do List</a>
    </div>
</body>
</html>